@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
    --ctp-text: var(--ctp-mocha-text);
    --ctp-base: var(--ctp-mocha-base);
    --ctp-crust: var(--ctp-mocha-crust);
    --ctp-surface0: var(--ctp-mocha-surface0);
    --ctp-surface1: var(--ctp-mocha-surface1);
    --ctp-mauve: var(--ctp-mocha-mauve);
    --ctp-peach: var(--ctp-mocha-peach);
    --ctp-yellow: var(--ctp-mocha-yellow);
    --ctp-red: var(--ctp-mocha-red);
    --ctp-blue: var(--ctp-mocha-blue);
}

@media (prefers-color-scheme: light) {
    :root {
        --ctp-text: var(--ctp-latte-text);
        --ctp-base: var(--ctp-latte-base);
        --ctp-crust: var(--ctp-latte-crust);
        --ctp-surface0: var(--ctp-latte-surface0);
        --ctp-surface1: var(--ctp-latte-surface1);
        --ctp-mauve: var(--ctp-latte-mauve);
        --ctp-peach: var(--ctp-latte-peach);
        --ctp-yellow: var(--ctp-latte-yellow);
        --ctp-red: var(--ctp-latte-red);
        --ctp-blue: var(--ctp-latte-blue);
    }
}

body {
    background-color: var(--ctp-base);
    color: var(--ctp-text);
    font-family: 'Roboto';
}

h1{
    font-weight: 700;
}

h3{
    font-weight: normal;
}

#results>h3{
    margin-top: 0.5rem;
}

input,
button,
textarea {
    background-color: var(--ctp-crust);
    color: var(--ctp-text);
    border: none;
    accent-color: var(--ctp-blue);
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin: 0.5rem;
}


#pricing>div:nth-of-type(2n),
#results li:nth-of-type(2n) {
    background-color: var(--ctp-crust) !important;
}

.border {
    border-color: var(--ctp-text) !important;
}